.jumbotro {
    background: url('../../app/assets/images/bg.gif') no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
    height: 100vh !important;
}


@media only screen and (max-width: 1200px) and (min-width: 0px) {
    .jumbotro {
        background: url('../../app/assets/images/smallBg.gif') no-repeat center top;
    }
}

@media only screen and (max-device-width: 1200px) and (min-width: 0px) {
    .jumbotro {
        background: url('../../app/assets/images/smallBg.gif') no-repeat center top;
    }
}


.panel-default {
    opacity: 0.9;
    margin-top: 30px;
}
.panel{
    background-color: rgba(255,255,255,.15) !important;
    border-color: rgba(178, 168, 206, 0.02);
    box-shadow: 1px 6px 21px 1px black !important;
}

.panel-heading {
    panel-border:rgba(0, 0, 0, 0.15) !important;
    background-color: transparent;
    color:snow !important;
}

input:focus {
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 20px aquamarine;
}

.btn:hover{
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 20px aquamarine;
}

.form-padding-top{
    padding-top:6%
}